<html>
<head>
<style>
h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
}
p  {
    color: red;
    font-family: courier;
    font-size: 160%;
}
</style>
</head>
<body>

<h1>Hiring Page</h1>
<p>Job recruitment for Big Dave's Chop Shop</p>

</body>
</html>
<form>
 <fieldset>
	<legend>Personal information:</legend>
	first name:<br>
	<input type="text" name="firstname"><br>
	last name:<br>
	<input type="text" name="lastname"><br><br>
	Your gender:<br>
	<input type="radio" name="gender" value="male">Male<br>
	<input type="radio" name="gender" value="female">Female<br>
	<input type="radio" name="gender" value="other">Other<br><br>
	 E-mail:
	<input type="email" name="email"><br><br>
	Phone-number:<br>
	<input type="text" ><br><br>
	DOB:
	<input type="date" name="bday"><br><br>
	Nationality:<br>
	<input type="text"><br><br>
	
 </fieldset>
 <fieldset>
	<legend>Basic information:</legend>
	Education qualification:
	<input type="text"><br><br>
	Languages Known:
	<input type="text"><br><br>
	
 </fieldset>
<fieldset>
	<legend>Job Information</legend>
	Job requirment:<br>
	<input type="radio" value="garage">Garage<br>
	<input type="radio" value="restaurant">Restaurant<br><br>
	Job available:<br>
	<select name="cars" size="4">
	<option value="chef">Chef</option>
	<option value="mechanic">Mechanic</option>
	<option value="waiter">Waiter</option>
	<option value="manager">Manager</option>
	<option value="cleaner">Cleaner</option>
	<option value="security">Security</option><br><br>
	</select><br>
	Job Applying for:
	<input type="text"><br><br>
	Experience in hand:<br>
	<textarea name="message" rows="10" cols="30">
	</textarea><br><br>
	Reason to pick you among many:<br>
	<textarea name="message" rows="10" cols="30">
	</textarea><br>
	Salary expected:<br>
	<input type="text"><br><br>
	No of hours willing to work:<br>
	<input type="text"><br>

 </fieldset><br><br>
	Feedback:<br>
	<textarea name="message" rows="10" cols="30">
	</textarea><br><br>
	<input type="submit" value="submit">
	<input type="reset">
</form>